.page {
    padding: 12px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;

    gap: 12px;
}

.main {
    width: calc(100vw - 80px);

    border-radius: var(--border-radius);

    overflow: auto;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 24px;
}